.reports {
  min-height: 100vh;
}

.reports h1 {
  text-align: center;
  background: #883676;
  background: linear-gradient(
    125deg,
    #883676 0%,
    rgba(96, 154, 150, 1) 50%,
    #883676 100%
  );
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  color: var(--darkGreen);
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--darkGreen);
  border-top: 5px solid var(--darkGreen);
  padding: 0.5rem 0;
}

.links button,
.btnChanges {
  background-color: var(--purple);
  color: var(--white);
  border: 2px solid var(--purple);
  font-size: 1.5rem;
  font-family: var(--ordibehesht);
  padding: 4px 2rem;
  transition: 0.3s ease-in-out;
  width: 30%;
}

.links button:hover,
.btnChanges:hover {
  background-color: var(--darkGreen);
}

.active {
  transform: scale(1.1);
  background-color: var(--darkGreen) !important;
}

.calendar {
  background-color: var(--purple) !important;
}

.inputCalendar {
  font-family: var(--ordibehesht);
  background-color: var(--darkGreen) !important;
  color: var(--white) !important;
  font-size: 1.2rem;
  border: 4px solid var(--purple);
}

.datePicker {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content Table {
  background-color: var(--darkGreen);
  margin-top: 1rem;
  border: 5px solid var(--purple);
  /* margin-left: 500px; */
}

.content Table td,
.content Table th {
  color: var(--white) !important;
  text-align: center;
}

.content Table th:first-child {
  max-width: 1vw;
  /* z-index: 999; */
}

.tableDiv {
  width: calc(100vw - 250px);
  height: 80vh;
  overflow: auto;
  margin-left: 500px;
  position: relative;
}

.content Table tr {
  position: relative;
}

.content Table td:first-child {
  position: sticky;
  right: 0;
  width: 100px;
  border: 1px solid var(--purple) !important;
  background-color: var(--green);
  color: black !important;
  font-weight: 900;
  z-index: 99;
}

.content Table th {
  position: sticky;
  right: 0;
  top: 0;
  border: 1px solid var(--purple) !important;
  background-color: var(--green);
  color: black !important;
  width: 100px;
  top: 0;
  z-index: 999;
  vertical-align: top;
}

.content Table thead tr {
  border: 1px solid var(--purple) !important;
  background-color: var(--darkGreen) !important;
}

.content Table th:first-child {
  position: sticky;
  top: 0;
  right: 0;
}

.charts {
  width: 100%;
  height: 100%;
  margin: auto;
  direction: ltr;
}

.formSearch {
  max-width: 300px;
  position: relative;
}

.formSearch button {
  border: none;
  background: transparent;
  position: absolute;
  bottom: 12px;
  left: 5px;
}

.formSearch input {
  border: 5px solid var(--darkGreen);
  color: var(--darkGreen);
  font-size: 1.5rem;
  font-family: var(--ordibehesht);
}

.formSearch svg {
  font-size: 2rem;
  color: var(--purple);
}

.print {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.print button,
.excell button {
  font-family: var(--ordibehesht);
  color: var(--darkGreen);
  border: 4px solid var(--darkGreen);
  font-size: 2rem;
  width: 300px;
  transition: 0.2s ease-in;
}

.excell button {
  position: relative;
}

.excell {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.excell button::after {
  content: "دانلود فایل Excel";
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transition: 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.print button:hover,
.excell button:hover::after {
  color: var(--white);
  background-color: var(--darkGreen);
}

.tableDiv::-webkit-scrollbar,
.allValue::-webkit-scrollbar {
  height: 10px !important;
  direction: rtl;
}

/* Track */
.tableDiv::-webkit-scrollbar-track,
.allValue::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--lightGreen);
  border-radius: 2px;
}

/* Handle */
.tableDiv::-webkit-scrollbar-thumb,
.allValue::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 2px;
}

/* Handle on hover */
.tableDiv::-webkit-scrollbar-thumb:hover,
.allValue::-webkit-scrollbar-thumb:hover {
  background: #3b0034;
}

.allValue {
  border: 4px solid var(--purple);
  width: 100%;
  max-width: calc(100vw - 250px);
  margin-left: auto;
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-direction: column; */
  margin-top: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.boxItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  padding: 0 4px 1.5rem 0;
  width: 100%;
  position: relative;
  background-color: rgba(128, 128, 128, 0.397);
  border: 2px solid var(--darkGreen);
}

.boxItem p {
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
}

.titleItem {
  color: var(--darkGreen);
  font-weight: 900;
}
.titleItem {
  margin-bottom: 0;
}
.timeItem {
  width: 40px;
  font-size: 12px;
  padding-top: 8px;
}

.timeItem p {
  font-weight: 900;
  text-shadow: 2px 2px 1px black;
}

@media (max-width: 980px) {
  .links {
    flex-direction: column;
  }

  .links button {
    width: 90%;
    margin-bottom: 1rem;
  }

  .inputCalendar {
    margin-bottom: 1rem;
  }

  .tableDiv {
    width: 100vw !important;
    margin-left: 0;
  }

  .allValue {
    width: 100%;
    max-width: 100vw;
  }

  .content Table td,
  .content Table th {
    font-size: 12px !important;
  }
}
