.timesheet {
  min-height: 100vh;
}

.timesheet h1 {
  text-align: center;
  background: #883676;
  background: linear-gradient(
    125deg,
    #883676 0%,
    rgba(96, 154, 150, 1) 50%,
    #883676 100%
  );
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  color: var(--darkGreen);
}

.timesheet .calendar {
  width: 90%;
  max-width: 700px;
  margin: auto;
  background-color: var(--darkGreen);
}

.selectedDay {
  color: red;
}

.modal {
  height: 100%;
  background: rgb(33, 61, 58, 0.9);
  background: linear-gradient(
    90deg,
    rgba(33, 61, 58, 0.9) 0%,
    rgba(96, 154, 150, 0.9) 50%,
    rgba(33, 61, 58, 0.9) 100%
  );
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: var(--white);
  color: red;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.closeModal:hover {
  color: var(--white);
  background-color: red;
}

.dateOnModal {
  background-color: var(--white);
  padding: 0.5rem 3rem;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.chart {
  width: 100%;
  height: 100%;
  direction: ltr;
}

.form {
  flex-basis: 100%;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.formGroup {
  flex-basis: 23%;
  margin: 1%;
}

.formGroupMessage {
  flex-basis: 80%;
  margin: 1rem;
}

.form input,
.form select {
  border-radius: 0;
  border: 5px solid var(--purple) !important;
  font-family: var(--ordibehesht);
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
  margin-top: 0;
}

.form textarea {
  border-radius: 0;
  border: 5px solid var(--purple) !important;
  font-family: var(--ordibehesht);
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
  margin-top: 0;
}

.form label {
  font-family: var(--ordibehesht);
  color: var(--purple);
  font-size: 1.4rem;
}

.form label span {
  color: var(--darkGreen);
  font-size: 1.2rem;
}

.actions {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.actions button {
  width: 60%;
  font-family: var(--ordibehesht);
  border: 2px solid var(--darkGreen);
  color: var(--white);
  background-color: var(--darkGreen);
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
}

.actions button:hover {
  background-color: var(--purple);
  color: var(--white);
  width: 100%;
}

.actions button:disabled {
  background-color: grey !important;
  color: black !important;
  cursor: not-allowed;
  opacity: 0.5;
  width: 60% !important;
}

.sheets {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 800px;
  margin-top: 20px;
  padding: 1rem;
}

.sheets h6 {
  color: var(--darkGreen);
  margin: 0;
}

.sheets span {
  margin-left: 10px;
}

.displaySheets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  border: 2px solid var(--purple);
  padding: 8px;
  position: relative;
}

.displaySheets svg {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  background-color: var(--white);
  margin-left: 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  padding: 2px;
  cursor: pointer;
  transition: width 0.4s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.displaySheets svg:hover {
  width: 100%;
  background-color: rgb(255, 0, 0);
  color: var(--white);
}
