.tasks {
  min-height: 100vh;
}

.tasks h1 {
  text-align: center;
  background: #883676;
  background: linear-gradient(
    125deg,
    #883676 0%,
    rgba(96, 154, 150, 1) 50%,
    #883676 100%
  );
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  color: var(--darkGreen);
}

.tasks form {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  background: var(--darkGreen);
  padding: 1rem;
}

.tasks form label {
  color: var(--white);
  margin-top: 1rem;
  font-family: var(--ordibehesht);
  font-size: 1.4rem;
}

.tasks form input,
.tasks form select,
.tasks form textarea {
  border-radius: 0;
  border: 4px solid var(--purple);
}

.calendar {
  background-color: var(--darkGreen) !important;
  z-index: 9999 !important;
}

.inputCalendar {
  font-size: 2rem;
  z-index: 999 !important;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.actions button {
  background-color: var(--purple);
  color: var(--white);
  border: none;
  width: 60%;
  font-size: 1.5rem;
  font-family: var(--ordibehesht);
  padding-top: 3px;
  transition: 0.2s linear;
  cursor: pointer;
}

.actions button:hover {
  width: 100%;
}

.actions button:disabled {
  background-color: grey;
  opacity: 0.8;
  width: 60%;
  cursor: not-allowed;
}

.links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--darkGreen);
  border-top: 5px solid var(--darkGreen);
  padding: 0.5rem 0;
}

.links button,
.links a {
  background-color: var(--purple);
  color: var(--white);
  border: 2px solid var(--purple);
  font-size: 1.5rem;
  font-family: var(--ordibehesht);
  padding: 4px 2rem;
  transition: 0.3s ease-in-out;
  width: 30%;
  text-align: center;
  text-decoration: none;
  margin: 1%;
}

.active {
  transform: scale(1.1);
  background-color: var(--darkGreen) !important;
}

.links button:hover,
.links a:hover {
  background-color: var(--darkGreen);
  color: var(--white);
}

.allTasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.singleTask {
  background-color: var(--green);
  padding: 1rem;
  width: 31.33%;
  min-width: 370px;
  margin: 1%;
  border: 2px solid var(--purple);
  position: relative;
}

.singleTask h4 {
  text-align: center;
  color: var(--darkGreen);
}

.text {
  text-align: center;
  color: black;
  font-size: 16px;
}

.dates {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dates p {
  background-color: var(--darkGreen);
  color: white;
  font-size: 14px;
  padding: 5px;
}

.adminEmail {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: -1rem;
  width: fit-content;
  padding: 3px;
}

.adminEmail p {
  margin: 0;
  color: var(--darkGreen);
  font-size: 14px;
  font-weight: 900;
}

.activeTask {
  border: 6px solid var(--purple);
  transform: scale(1.1);
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.download button {
  border-radius: 0;
  width: 60%;
}

.download a {
  text-decoration: none;
  font-family: var(--ordibehesht);
  color: rgb(0, 9, 48);
  padding: 0 29%;
  font-size: 1.2rem;
}

.status {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #1b6139;
  padding: 5px;
}

.status svg {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.status::after {
  content: "وضعیت پروژه";
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 80px;
  font-family: var(--ordibehesht);
  font-size: 1rem;
  background-color: var(--white);
  text-align: center;
  opacity: 0;
  transition: 0.2s ease-in;
  z-index: 9999;
}

.status:hover::after {
  opacity: 1;
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #ff0800;
  cursor: pointer;
  padding: 2px;
  background-color: var(--white);
  transition: 0.2s ease-in-out;
}

.closeModal:hover {
  background-color: #ff0800;
  color: var(--white);
}

.modal {
  background-color: var(--green);
  padding: 2rem;
  width: 60%;
  overflow-y: auto;
  min-height: 100vh;
}

.modal::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal::-webkit-scrollbar-track {
  background: #8836765d;
  border: 1px solid var(--purple);
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
  background: var(--darkGreen);
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover {
  background: rgb(6, 116, 43);
}

.modal form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal form button {
  width: 40%;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  font-family: var(--ordibehesht);
  font-size: 1.5rem;
}

.modal form button:hover {
  width: 90%;
}

.modal form p {
  font-weight: 900;
}

.modal form select {
  border-radius: 0;
  border: 4px solid var(--purple);
  width: 70%;
}

.statusText {
  width: 80%;
  padding: 3px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--darkGreen);
  margin: auto;
  margin-bottom: 10px;
}

.statusText p {
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 14px;
  margin: 0;
}

.formGroupUpdate {
  width: 70%;
  margin-top: 10px;
}

.formGroupUpdate select {
  width: 100% !important;
}

.formGroupDate {
  margin-top: 10px;
}

.delete {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff0800;
  padding: 4px;
  font-size: 2.2rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.delete:hover {
  color: #ff0800;
  background-color: var(--white);
}

.commentIcon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0a7e8c;
  transition: 0.3s ease-in-out;
}

.commentIcon svg {
  color: var(--white);
  font-size: 2.3rem;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.commentIcon:hover {
  background-color: var(--white);
}

.commentIcon:hover svg {
  color: #0a7e8c;
}

.btnCmnt {
  margin-top: 1rem;
  margin-right: 1rem;
  color: #065006;
  font-size: 2rem;
  cursor: pointer;
}

.oldComments {
  background-color: var(--white);
  border: 6px solid var(--purple);
  padding: 1rem;
}

.comment {
  background-color: var(--darkGreen);
  width: 100%;
  border: 2px solid var(--green);
  color: var(--white);
  margin-bottom: 10px;
  position: relative;
}

.newComment {
  margin-top: 0.5rem;
  background-color: var(--white);
  border: 6px solid var(--purple);
  padding: 1rem;
}

.formGroupCmnt {
  width: 100%;
}

.comments textarea {
  border: 4px solid var(--green);
  width: 100%;
  border-radius: 0;
}

.comments label {
  color: black;
}

.newComment button {
  margin: auto;
  margin-top: 10px;
}

.reply {
  position: absolute;
  left: -28px;
  font-size: 1rem;
  color: var(--white);
  top: 0;
  width: 26px;
  height: 100%;
  background-color: green;
  border: 3px solid green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}
.close {
  position: absolute;
  left: -28px;
  font-size: 1.5rem;
  color: var(--white);
  top: 0;
  width: 26px;
  height: 100%;
  background-color: rgb(128, 0, 0);
  border: 3px solid rgb(128, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}

.reply:hover {
  background-color: var(--white);
  color: green;
}

.close:hover {
  background-color: var(--white);
  color: rgb(128, 0, 0);
}

.comment p {
  margin-bottom: 0;
}

.txtComment {
  position: relative;
  background-color: var(--green);
  color: black;
  width: fit-content;
  max-width: 80%;
  margin: 0.5rem;
}

.txtChat {
  font-size: 14px;
  font-weight: 700;
  color: black;
  padding: 0 10px 4px;
}

.replyForm {
  position: relative;
  margin-top: 2rem;
}

.replyForm button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
  width: 100px !important;
  font-size: 1rem !important;
}

.replyForm button:disabled {
  cursor: not-allowed;
  background-color: grey !important;
  border-color: grey !important;
}

.replyForm .formGroupCmnt {
  width: calc(100% - 100px);
  margin-left: 100px;
  border: 3px solid var(--purple);
  background-color: var(--white);
}

.replyForm .formGroupCmnt p {
  background-color: var(--green);
  color: black;
  font-size: 14px;
  padding: 3px;
  opacity: 0.7;
  margin: 0;
}

.replyForm textarea {
  height: auto;
  background-color: var(--white);
  border: none;
}

.replyForm textarea:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.replyTxt {
  background-color: #3cb371 !important;
  margin-right: auto;
  margin-left: 40px;
}

.chat {
  background-color: var(--white);
  width: 88%;
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  padding: 8px;
}

.userChat {
  font-family: var(--ordibehesht);
  font-size: 1.1rem;
  color: var(--white);
  text-shadow: 1px 1px 2px black;
  padding: 0 10px;
}

.replyTo {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 900;
}

.errorReply {
  color: rgb(160, 0, 0) !important;
  font-family: var(--ordibehesht);
  font-size: 1rem !important;
}

.delCmnt {
  width: 20px;
  padding: 2px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delCmnt svg {
  font-size: 1.2rem;
  color: var(--white);
}

.delCmnt:hover {
  transform: scale(1.3);
}

.newMsg {
  position: relative;
}

.newMsg:after {
  content: "جدید";
  position: absolute;
  right: 0;
  top: 0;
}

.commentIcon h6 {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.8rem;
  cursor: pointer;
}
