.dashboard {
  display: flex;
  justify-content: space-between;
  direction: rtl;
  align-items: flex-start;
}

.sidebar {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 120px;
  background: rgb(33, 61, 58);
  background: linear-gradient(
    125deg,
    rgba(33, 61, 58, 1) 0%,
    rgba(96, 154, 150, 1) 50%,
    rgba(33, 61, 58, 1) 100%
  );
  height: 90vh;
  padding: 10px 10px 40px;
  box-shadow: -5px 0 6px rgb(56, 56, 56);
}

.sidebar a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--ordibehesht);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.sidebar a:hover {
  color: var(--purple);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.514);
}

.sidebar button {
  width: 80%;
  position: absolute;
  bottom: 100px;
  border-width: 5px;
  border-radius: 0;
  font-family: var(--ordibehesht);
  font-size: 1.5rem;
  padding: 4px 10px;
}

.sidebar h6 {
  color: black;
  padding: 4px 20px;
  margin: 0;
}

.user {
  border: 4px solid var(--purple);
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  width: 150px;
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
  margin-right: 200px;
  background-color: #609a9660;
  padding: 1rem;
  padding-top: 0;
}

.imageUser {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUser img {
  max-width: 150px;
  border: 4px solid var(--purple);
  background-color: var(--white);
}

@media (max-width: 980px) {
  .sidebar {
    display: none;
  }

  .content {
    margin: 0 !important;
  }
}
