@font-face {
  font-family: "Oridibehesht";
  src: url("/public/fonts/Ordibehesht.woff");
  color: var(--purple);
}

@font-face {
  font-family: "iranFont";
  src: url("/public/fonts/FontsFree-Net-ir_sans.ttf");
}

body {
  margin: 0;
}

:root {
  --purple: #883676;
  --white: #f2f2f2;
  --green: #659e99;
  --lightGreen: #609a96;
  --darkGreen: #213d3a;
  --ordibehesht: "Oridibehesht";
  --iranFont: "iranFont";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oridibehesht";
  color: #883676;
  font-weight: 900;
}

p,
th,
td,
tr,
a,
label {
  font-family: "iranFont";
}

h1 {
  font-size: 3.5rem !important;
}

h2 {
  font-size: 3rem !important;
}

h3 {
  font-size: 2.5rem !important;
}

h4 {
  font-size: 2rem !important;
}

h5 {
  font-size: 1.8rem !important;
}

h6 {
  font-size: 1.3rem !important;
}

.Calendar__day {
  color: var(--white) !important;
  font-size: 1.1rem !important;
  font-family: var(--ordibehesht) !important;
}

.Calendar__day:hover {
  background-color: var(--lightGreen) !important;
}

.Calendar__day.-selected {
  background-color: var(--purple) !important;
  color: var(--green) !important;
}

.Calendar__weekDays {
  font-size: 1.4rem !important;
  font-family: var(--iranFont) !important;
  padding: 0 1.6em !important;
}

.Calendar__weekDays abbr {
  text-decoration: none !important;
}

.Calendar__monthYear {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.6rem !important;
}

.Calendar__monthYear button {
  font-family: var(--ordibehesht) !important;
  font-size: 2rem !important;
  color: var(--purple);
}

.Calendar__section.-hiddenNext {
  opacity: 0 !important;
}

.Calendar__monthArrow {
  background-image: url("/public/images/next.png") !important;
  width: 3.7em !important;
  height: 3.7em !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1.3rem !important;
  }

  h5 {
    font-size: 1.1rem !important;
  }

  h6 {
    font-size: 0.9rem !important;
  }
}
