.modal {
  min-height: 100vh;
  height: 100%;
  margin-top: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  direction: rtl;
  background-color: #213d3abb;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding-top: 2rem; */
  /* padding-bottom: 15vh; */
  overflow-y: scroll;
}

.modal h3 {
  font-size: 1.8rem !important;
  color: var(--darkGreen);
}

.modal h3 span {
  font-size: 2.2rem !important;
  color: var(--purple);
}
