.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  direction: rtl;
  background-color: #213d3abb;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
